.main_title_box {
  display: flex;
  height: 400px;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: solid 4px #000000;
}

.main_title {
  font-family: "Hellvetica", "Roboto", "system-ui", "Public Sans", sans-serif;
  color: #ffffff;
  width: 60%;
  text-align: center;
  position: absolute;
  text-shadow: 1px 1px 3px #000000;
}

.main_image {
  width: 100%;
  height: 100%;
  background-image: url("../public/asimo.jpg");
  background-size: cover;
}

.first_title_box {
  background-color: #739b6b;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 40px;
}

.first_title {
  margin-left: 10%;
  margin-right: 10%;
}

.cards_box {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  width: 18rem;
  transition: 0.3s cubic-bezier(0, 0, 0.5, 1);
  border: none;
  box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
  margin-bottom: 10px;
}

.card:hover {
  transform: scale(1.01);
  box-shadow: 2px 4px 12px rgb(0 0 0 / 20%);
}

.big_card {
  align-items: center;
  justify-content: space-between;
  width: 100%;
  transition: 0.3s cubic-bezier(0, 0, 0.5, 1);
  border: none;
  box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
  display: flex;
  background-color: white;
  border-radius: 10px;
}

.big_card:hover {
  transform: scale(1.01);
  box-shadow: 2px 4px 12px rgb(0 0 0 / 20%);
}

.big_card_text {
  margin-left: 5%;
  width: 45%;
  height: 80%;
  border: solid 1px #fdcb6e;
}

.robot_image {
  height: 100%;
  margin-right: 20px;
}

.carousel_box {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
